.ContPlayButton {
    /* padding: .9rem 2.8rem; */
    height: 100%;
    width: 100%;
    margin: 10px 0;
    background-color: transparent;
    background-color: var(--textColor);
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.2vw;
    font-family: 'Noto Sans';
    font-weight: 600;
    /* border: 1px solid green; */
}
.ContPlayButton > img {
    width: 20%;
}
.ContPlayButton:hover {
    cursor: pointer;
    filter: brightness(.8);
}
.ContPlayButton:active {
    outline: 2px solid white;
    outline-offset: 2px;
    filter: opacity(.8);
}