.ContTest {
    width: 100%;
    min-height: 100vh;
    background-color: var(--backColor);
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .ContTest > div {
    width: 200px;
    height: 200px;
} */