.ContLanding {
    /* border: 5px solid red; */
    min-height: 85vh;
    width: 100%;
}
.background {
    /* border: 5px solid red; */
    width: 100%;
    height: 85vh;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.background > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content {
    /* border: 1px solid red; */
    position: absolute;
    height: 85vh;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, .7), rgba(0, 0, 0, .5), transparent, transparent, rgba(0, 0, 0, .7));
    background-color: rgba(0, 0, 0, .5);
}
.navDiv {
    /* border: 1px solid green; */
    height: 8.5vh;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.banner {
    /* border: 1px solid yellow; */
    width: 23%;
    height: 50%;
    margin-left: 1.5rem;
    
}
.banner > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.options {
    /* border: 1px solid green; */
    position: relative;
    margin-right: 1.2rem;
    width: 55%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.options > label {
    /* border: 1px solid red; */
    position: absolute;
    top: 0;
    left: 0;
    width: 47%;
    height: 100%;
    margin-left: .2rem;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.options > label::before {
    /* border: 1px solid red; */
    content: '';
    width: 15%;
    margin-left: .3rem;
    height: 100%;
    background-image: url('../../media/world.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: invert(1);
}
.options > label::after {
    /* border: 1px solid red; */
    content: '';
    width: 15%;
    height: 100%;
    margin-right: .5rem;
    background-image: url('../../media//downArrowFill.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    filter: invert(1);
}
.options > select {
    -moz-appearance: none;
    -webkit-appearance: none;
    background: transparent;
    border: 1px solid white;
    height: 100%;
    font-family: 'Noto Sans';
    font-size: .85rem;
    width: 47%;
    color: var(--textColor);
    background-color: black;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
select::after {
    border: 1px solid red;
    content: '🎮';
    color: white;
}
.options > select > option {
    background-color: grey;
}
.options > select:focus {
    border-color: white;
}
.options > button {
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-style: 'Noto Sans';
    white-space: nowrap;
    font-size: .9rem;
    font-weight: 500;
    width: 48%;
    border-radius: 5px;
    border: none;
    background-color: var(--redColor);
    color: var(--textColor);
}
.getStarted {
    /* border: 1px solid blue; */
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Noto Sans';
    gap: .2rem;
    color: var(--textColor);
}
.getStarted > h1 {
    /* border: 1px solid red; */
    font-size: 1.6rem;
    line-height: 1.8rem;
    width: calc(100% - 3rem);
    margin: .7rem 1.5rem;
}
.getStarted > h4 {
    /* border: 1px solid green; */
    font-size: 1rem;
    font-weight: 500;
    width: calc(100% - 3rem);
    margin: .3rem 1.5rem;
}
.getStarted > p {
    /* border: 1px solid blue; */
    width: calc(100% - 3rem);
    font-size: 1.1rem;
    font-weight: 500;
    margin: .3rem 3rem;
}
.suscriptionForm {
    /* border: 1px solid violet; */
    width: 46%;
    height: 8rem;
    margin: 0 1.5rem;
    margin-bottom: 4.5rem;
    width: calc(100% - 3rem);
}
.inputsDiv {
    /* border: 5px solid goldenrod; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}
.inputsDiv > div:first-child {
    width: 100%;
    /* border: 5px solid green; */
    background-color: white;
    height: 38%;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 2px black;
    position: relative;
}
.inputsDiv > div:last-child {
    width: 35%;
    background-color: red;
    border-radius: 5%;
    overflow: hidden;
    height: 33%;
}
.input {
    border: none;
    outline: none;
    margin: 0;
    border-radius: 3px 0 0 3px;
    /* border: 1px solid orange; */
    padding: 0;
    margin-left: .6rem;
    font-size: 1rem;
    width: 100%;
    height: 80%;
    align-self: flex-end;
}
.label {
    position: absolute;
    pointer-events: none;
    left: 0;
    margin: .8rem;
    /* border: 1px solid red; */
    color: rgba(var(--greyColor), .7);
    transition: all .2s ease;
}
.labelWritten {
    position: absolute;
    left: 0;
    margin: .8rem;
    font-weight: 700;
    color: rgba(var(--greyColor), .7);
    
    font-size: .8rem;
    transform: translateY(-80%);
    transition: all .2s ease;
}
.startLink {
    /* border: 1px solid green; */
    width: 100%;
    height: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--textColor);
    font-size: 1rem;
}
.inputsDiv > div:last-child > button {
    width: 100%;
    height: 100%;
    background-color: var(--redColor);
    border: none;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid gray; */
}
.inputsDiv > div:last-child > button > .startLink > img {
    margin-left: .5rem;
    /* border: 1px solid white; */
    width: 10%;
    height: 40%;
    object-fit: contain;
    filter: invert(1);
    transform: rotateY(180deg);
}
.inputsDiv > div:last-child > button:hover {
    filter: brightness(1.2);
    cursor: pointer;
}
.inputsDiv > div:last-child > button:active {
    outline: 2px solid brown;
    filter: brightness(.9);
}
.errorFound {
    border-bottom: 2px solid orange;
}
.errorDiv {
    /* border-top: 4px solid orange; */
    width: 100%;
    font-size: .9rem;
    text-align: left;
    color: orange;
    position: absolute;
    bottom: -1.5rem;
}
.cards {
    background-color: black;
    /* border: 1px solid red; */
    width: 100%;
}
.card {
    border-top: 10px solid rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 29rem;
}
.text {
    /* border: 1px ssolid red; */
    width: calc(100% - 3rem);
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-family: 'Noto Sans';
    color: var(--textColor);
}
.text > div {
    /* border: 1px solid red; */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.text > div > h1 {
    font-size: 1.5rem;
    margin: .5rem 0;
}
.text > div > p {
    font-size: 1rem;
    margin: 0;
}
.image {
    /* border: 1px solid red; */
    max-width: 100%;
    width: calc(100% - 3rem);
    height: 50%;
    margin-bottom: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.videoDiv {
    /* border: 1px solid white; */
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.videoDiv > img {
    /* border: 1px solid blue; */
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 1;
}
.video {
    /* border: 1px solid red; */
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 60%;
}
.textLeft {
    /* border: 1px solid red; */
    width: calc(100% - 3rem);
    margin: 0 1.5rem;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Noto Sans';
    color: var(--textColor);
}
.textLeft > div {
    /* border: 1px solid red; */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.textLeft > div > h1 {
    font-size: 1.5rem;
    margin: .5rem 0;
}
.textLeft > div > p {
    font-size: 1rem;
    margin: 0;
}
.downloadDiv {
    /* border: 1px solid white; */
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.downloadDiv > img {
    transform: translateY(-10%);
    width: 100%;
    height: 90%;
    object-fit: contain;
    z-index: 1;
}
.download {
    position: absolute;
    z-index: 1;
    border: 1px solid grey;
    border-radius: 10px;
    width: 75%;
    height: 25%;
    background-color: black;
    transform: translateY(80%);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 15px 5px black;
}
.download > div {
    /* border: 1px solid red; */
    height: 100%;
    width: 55%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    font-family: 'Noto Sans';
}
.download > div:first-child {
    width: 25%;
}
.download > div:last-child {
    width: 20%;
    background: url(https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/download-icon.gif) 50% no-repeat;
    background-size: 100%;
}
.download > div > span:first-child {
    width: 100%;
    font-size: .9rem;
    font-weight: 600;
}
.download > div > span:last-child {
    width: 100%;
    font-size: .8rem;
    color: rgb(0, 100, 255);
}
.download > div > img {
    width: 80%;
    height: 80%;
    object-fit: contain;
}
.videoMac {
    /* border: 1px solid red; */
    position: absolute;
    width: 100%;
    height: 45%;
    z-index: 0;
    transform: translateY(-30%);
}
.questionsDiv {
    border-top: 10px solid rgba(255, 255, 255, 0.1);
    min-height: 35rem;
    background-color: black;
    font-family: 'Noto Sans';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.questionsDiv > h1 {
    color: var(--textColor);
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 5%;
    margin-bottom: 3%;
}
.question {
    /* border: 1px solid white; */
    width: 100%;
    font-size: 1.2rem;
    text-align: left;
    color: var(--textColor);
    margin-bottom: 1%;
}
.mini {
    background-color: #303030;
    padding: 16px 32px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.mini > span {
    pointer-events: none;
}
.expandIcon {
    /* border: 1px solid red; */
    height: 80%;
    aspect-ratio: 1/1;
}
.expandIcon > img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    filter: invert(1);
}
.expand {
    max-height: 0px;
    overflow: hidden;
    background-color: #303030;
    margin-top: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s ease;
}
.expand > p {
    margin: 16px 32px;
}
.expanded {
    background-color: #303030;
    margin-top: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s ease;
    max-height: 500px;
    transition: all .2s ease;
}
.expanded > p {
    margin: 16px 32px;
}
.registerBottom {
    /* border: 5px solid red; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 0 5% 0;
    color: var(--textColor);
}
.registerBottom > p {
    font-family: 'Noto Sans';
    font-size: 1.1rem;
}
.footerDiv {
    border-top: 10px solid rgba(255, 255, 255, 0.1);
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 4%;
}
.footerContent {
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.5);
    margin: 2% 1.5rem;
    width: calc(100% - 3rem);
    font-family: 'Noto Sans';
    font-weight: 1rem;
    font-weight: 400;
    text-align: left;
}
.footerContent > div {
    /* border: 1px solid blue; */
    width: 100%;
}
.links {
    margin: 2% 0;
    /* border: 1px solid green; */
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    font-size: .8rem;
}
.links > div {
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 40%;
}
.linkFooter {
    text-align: left;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    text-decoration: none;
    margin: 4% 0;
}
.linkFooter:hover {
    text-decoration: underline;
}
.footerContent > div:last-child {
    margin-top: 2%;
    /* border: 1px solid red; */
    height: 6rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    color: rgba(255, 255, 255, 0.5);
    font-size: .8rem;
}
.bottomOptions {
    /* border: 1px solid red; */
    width: 40%;
    filter: brightness(.9);
    min-width: 6%;
    height: 3.5rem;
}
.bottomOptions > label {
    width: 100%;
    margin: 0;
}
.bottomOptions > select {
    /* border: 10px solid green; */
    font-size: 1rem;
    margin: 0;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.5);
}
.bottomOptions > select > option {
    background-color: black;
}

/* Small devices */
@media screen and (min-width: 576px) {
    .navDiv {
        height: 10vh;
    }
    .options {
        margin-right: 3rem;
        width: 39%;
    }
    .background {
        height: 100vh;
    }
    .content {
        height: 100vh;
    }
    .getStarted {
        height: 90vh;
    }
    .getStarted > h1 {
        font-size: 2.7rem;
        line-height: 3rem;
        width: calc(100% - 6rem);
        margin: .7rem 3rem;
    }
    .getStarted > h4 {
        font-size: 1.5rem;
        font-weight: 400;
        width: calc(90% - 6rem);
        margin: .3rem 3rem;
    }
    .getStarted > p {
        width: calc(90% - 6rem);
        font-size: 1.1rem;
        font-weight: 400;
        margin: .3rem 3rem;
    }
    .suscriptionForm {
        height: 8rem;
        margin: 0 4.25rem;
        margin-bottom: 3.5rem;
        width: calc(100% - 8.5rem);
    }
    .inputsDiv > div:first-child {
        height: 40%;
    }
    .inputsDiv > div:last-child {
        width: 22%;
    }
    .card {
        height: 38rem;
    }
    .text > div > h1 {
        font-size: 2.5rem;
    }
    .text > div > p {
        font-size: 1.2rem;
    }
    .image {
        height: 60%;
        margin-bottom: 10%;
    }
    .textLeft > div > h1 {
        font-size: 2.5rem;
    }
    .textLeft > div > p {
        font-size: 1.2rem;
    }
    .download {
        width: 55%;
    }
    .questionsDiv > h1 {
        font-size: 2rem;
    }
    .question {
        width: calc(100% - 9.2rem);
        margin: 0 4.6rem;
        margin-bottom: 1.5%;
    }
    .registerBottom > p {
        font-size: 1rem;
        width: 70%;
    }
    .footerContent {
        margin: 2% 4rem;
        width: calc(100% - 8rem);
    }
    .links {
        justify-content: space-between;
    }
    .bottomOptions {
        width: 30%;
    }
}
/* Medium devices */
@media screen and (min-width: 768px) {
    .options {
        margin-right: 2.3rem;
        width: 29%;
    }
    .background {
        height: 100vh;
    }
    .content {
        height: 100vh;
    }
    .getStarted {
        height: 90vh;
    }
    .getStarted > p {
        width: calc(65% - 6rem);
        font-size: 1.3rem;
    }
    .suscriptionForm {
        height: 7.2rem;
        margin-bottom: 4.2rem;
        width: calc(73% - 8.5rem);
    }
    .inputsDiv > div:first-child {
        height: 45%;
    }
    .inputsDiv > div:last-child {
        width: 22%;
    }
    .image {
        height: 65%;
        margin-bottom: 5%;
    }
    .text {
        width: calc(87% - 3rem);
        height: 40%;
    }
    .text > div > h1 {
        font-size: 2.2rem;
    }
    .text > div > p {
        font-size: 1.1rem;
    }
    .textLeft {
        width: calc(87% - 3rem);
        margin: 0 1.5rem;
    }
    .textLeft > div > h1 {
        font-size: 2.2rem;
    }
    .textLeft > div > p {
        font-size: 1.1rem;
    }
    .download {
        width: 45%;
        height: 20%
    }
    .registerBottom > p {
        font-size: 1.3rem;
        width: 52%;
    }
    .links {
        justify-content: space-between;
        flex-wrap: nowrap;
    }
    .bottomOptions {
        width: 20%;
    }
}
/* Large devices */
@media screen and (min-width: 992px) {
    .options {
        margin-right: 3.5rem;
        width: 25%;
        height: 60%;
    }
    .options > label {
        width: 39%;
    }
    .options > select {
        width: 39%;
    }
    .getStarted > h1 {
        font-size: 3rem;
        line-height: 3rem;
        width: calc(75% - 6rem);
    }
    .getStarted > h4 {
        font-size: 1.5rem;
        font-weight: 400;
        width: calc(90% - 6rem);
        margin: .3rem 3rem;
    }
    .getStarted > p {
        width: calc(100% - 6rem);
        font-size: 1.1rem;
        font-weight: 400;
        margin: 1.2rem 3rem;
    }
    .suscriptionForm {
        height: 3.5rem;
        margin-bottom: 8.8rem;
        width: calc(75% - 8.5rem);
    }
    .inputsDiv {
        flex-direction: row;
    }
    .inputsDiv > div:first-child {
        height: 100%;
        width: 70%;
    }
    .inputsDiv > div:last-child {
        height: 100%;
        width: 30%;
        border-radius: 0;
    }
    .startLink {
        font-size: 1.5rem;
    }
    .cards {
        background-color: black;
        width: 100%;
    }
    .card {
        border-top: 10px solid rgba(255, 255, 255, 0.1);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 29rem;
    }
    .invert {
        flex-direction: row-reverse;
    }
    .invert > .text > div {
        margin-left: 0;
    }
    .text {
        width: 52%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: 'Noto Sans';
        color: var(--textColor);
    }
    .text > div {
        margin-left: 21%;
        margin-right: 5%;
        position: relative;
        text-align: left;
    }
    .text > div > h1 {
        font-size: 3rem;
        margin: 0;
    }
    .text > div > p {
        font-size: 1.6rem;
    }
    .image {
        max-width: 100%;
        width: 48%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .videoDiv {
        width: 80%;
        height: 90%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .videoDiv > img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        z-index: 1;
    }
    .video {
        z-index: 0;
        position: absolute;
        width: 80%;
        height: 60%;
    }
    .textLeft {
        width: 52%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: 'Noto Sans';
        color: var(--textColor);
    }
    .textLeft > div {
        margin-left: 5%;
        margin-right: 21%;
        position: relative;
        text-align: left;
    }
    .textLeft > div > h1 {
        font-size: 3rem;
        margin: 0;
    }
    .textLeft > div > p {
        font-size: 1.6rem;
    }
    .downloadDiv {
        width: 80%;
        height: 90%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .downloadDiv > img {
        margin-left: 10%;
        transform: translateY(-10%);
        width: 100%;
        height: 80%;
        object-fit: contain;
        z-index: 1;
    }
    .download {
        position: absolute;
        z-index: 1;
        border: 1px solid grey;
        border-radius: 10px;
        min-width: 18rem;
        width: 60%;
        height: 20%;
        background-color: black;
        transform: translateY(80%);
        margin-left: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0 15px 5px black;
    }
    .download > div {
        height: 100%;
        width: 55%;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: left;
        font-family: 'Noto Sans';
    }
    .download > div:first-child {
        width: 25%;
    }
    .download > div:last-child {
        width: 20%;
        background: url(https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/download-icon.gif) 50% no-repeat;
        background-size: 100%;
    }
    .download > div > span:first-child {
        width: 80%;
        font-size: 1rem;
        font-weight: 600;
    }
    .download > div > span:last-child {
        width: 80%;
        font-size: .9rem;
        color: rgb(0, 100, 255);
    }
    .download > div > img {
        width: 80%;
        height: 80%;
        object-fit: contain;
    }
    .videoMac {
        position: absolute;
        width: 65%;
        height: auto;
        z-index: 0;
        transform: translateY(-30%);
    }
    .questionsDiv > h1 {
        font-size: 3rem;
    }
    .question {
        width: calc(82% - 9.2rem);
        margin: 0 4.6rem;
        margin-bottom: 1%;
    }
    .registerBottom > p {
        font-size: 1.2rem;
        width: 82%;
    }
    .links {
        justify-content: space-between;
        flex-wrap: nowrap;
    }
    .bottomOptions {
        width: 45%;
    }
}
/* Extra large devices */
@media screen and (min-width: 1200px) {
    .navDiv {
        height: 8vh;
    }
    .options {
        margin-right: 3rem;
        width: 17rem;
    }
    .options > select {
        border: 1px solid rgba(255, 255, 255, 0.5);
    }
    .options > button {
        font-size: 1rem;
    }
    .background {
        height: 85vh;
    }
    .content {
        height: 85vh;
    }
    .getStarted {
        height: 77vh;
    }
    .getStarted > h1 {
        width: calc(55% - 6rem);
    }
    .suscriptionForm {
        height: 3.5rem;
        margin-bottom: 9.6rem;
        width: calc(55% - 8.5rem);
    }
    .card {
        overflow: hidden;
    }
    .invert > .image {
        justify-content: center;
    }
    .footerContent {
        width: calc(67% - 3rem);
    }
    .bottomOptions {
        width: 40%;
    }
}